.container{
    border-radius: 3rem;
    background: #DB092B;
    box-shadow: 9px 10px 20px 0px rgba(0, 0, 0, 0.25);
    padding-left: 2rem;
    padding-right: 2rem;
    height: 4rem;
}

.navbar-container{
    height: 100px;
}
